Repository openfoodfacts/hunger-games, pull requests merged in 2022-11, with the labels that each got.

#354 Fix small bugs
  src/components/LogoGrid.jsx
  src/pages/questions/ProductInformation.jsx
Labels: questions game

#357 feature: Allows to access all the logo sub-games
  .github/workflows/dependency-review.yml
  .github/workflows/github-projects-pr.yml
  .github/workflows/label.yml
  .github/workflows/merge-conflict-autolabel.yml
  .github/workflows/top-issues.yml
  src/components/ResponsiveAppBar.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/settings/index.jsx
Labels: github_actions

#358 UX iteration on question game
  package.json
  src/components/CroppedLogo.tsx
  src/components/QuestionFilter/QuestionFilter.jsx
  src/components/ZoomableImage.tsx
  src/components/welcome/Welcome.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/nutrition/productCard.jsx
  src/pages/questions/ProductInformation.jsx
  src/pages/questions/QuestionDisplay.jsx
  src/pages/questions/index.jsx
  src/pages/questions/utils.ts
  yarn.lock
Labels: Nutrition game, questions game, i18n

#325 feat: localize keyboard shortcut
  src/l10n-shortcuts.ts
  src/pages/questions/QuestionDisplay.jsx
Labels: questions game

#362 feat: Send skip to server
  src/pages/questions/ProductInformation.jsx
  src/pages/questions/QuestionDisplay.jsx
  src/pages/questions/index.jsx
  src/pages/questions/useQuestionBuffer.ts
Labels: questions game

#364 matomo: Track answered questions
  src/hooks/matomoEvents.ts
  src/pages/questions/useQuestionBuffer.ts
Labels: questions game
