Repository openfoodfacts/hunger-games, pull requests merged in 2022-10, with the labels that each got.

#317 ci: dependancy review
  .github/workflows/dependency-review.yml
Labels: github_actions

#293 Feat: Show product quantity and labels
  src/i18n/common.json
  src/i18n/en.json
  src/off.js
  src/pages/questions/ProductInformation.jsx
Labels: questions game, i18n

#312 fix: added Settings and Tour to menu in mobile view
  src/components/ResponsiveAppBar.jsx
  src/components/welcome/Welcome.jsx
  src/i18n/common.json
  src/i18n/en.json
Labels: i18n
