Repository openfoodfacts/hunger-games, pull requests merged in 2022-12, with the labels that each got.

#365 feat: block access to not logged in users
  src/App.js
  src/pages/index.js
  src/pages/shouldLoggedinPage/index.js
Labels: :star: top pull request

#392 feat: Split interface for fast nutriscore answer and INAO logos
  src/App.js
  src/pages/index.js
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/logosValidator/index.jsx
  src/pages/questions/useQuestionBuffer.ts
Labels: questions game

#398 feat: use predictor in INAO game
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/questions/useQuestionBuffer.ts
  src/robotoff.ts
Labels: questions game

#402 cleaning
  src/components/LogoForm.jsx
  src/components/QuestionFilter/useFilterSearch.js
  src/pages/eco-score/index.jsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/questions/useQuestionBuffer.ts
Labels: Eco-Score game, questions game

#411 feat: allows to see packaging interface for specific products
  src/pages/logos/LogoSearch.jsx
  src/pages/packaging/index.tsx
  src/pages/packaging/useBuffer.ts
  src/pages/settings/index.jsx
Labels: packaging

#409 fix: Adapt Hunger Games to the ANN modification in Robotoff
  src/pages/logos/LogoAnnotation.jsx
  src/robotoff.ts
Labels: Logo game
