Repository openfoodfacts/hunger-games, pull requests merged in 2022-08, with the labels that each got.

#95 ci: Add release please
  .github/workflows/release-please.yml
Labels: github_actions

#97 ci: Auto-add issues and PRs to GitHub Projects
  .github/workflows/github-projects-pr.yml
  .github/workflows/github-projects.yml
Labels: github_actions

#93 feat: improve Nutri-Score game
  src/components/ResponsiveAppBar.jsx
  src/contexts/devMode.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/nutriscoreValidator/index.jsx
  src/pages/questions/QuestionDisplay.jsx
Labels: Nutri-Score game

#146 allows to crop nutriscore
  src/pages/nutriscoreValidator/index.jsx
  src/pages/questions/useQuestionBuffer.js
  src/robotoff.js
Labels: Nutri-Score game

#145 install Matomo
  package.json
  src/App.js
  src/index.js
  yarn.lock
Labels: analytics

#151 Nutrition game product card display
  src/App.js
  src/pages/index.js
  src/pages/nutrition/index.jsx
  src/pages/nutrition/productCard.jsx
Labels: Nutrition game

#147 feat: reporting images added
  src/components/ResponsiveAppBar.jsx
  src/pages/questions/ProductInformation.jsx
Labels: quality games

#143 feat: logo game improvement
  src/components/LogoForm.jsx
  src/pages/logos/LogoAnnotation.jsx
Labels: Logo game

#157 connect the unit and quantification selectors to the state
  src/pages/nutrition/index.jsx
  src/pages/nutrition/nutritionFields.js
  src/pages/nutrition/productCard.jsx
  src/pages/nutrition/table.jsx
  src/pages/nutrition/tableRow.jsx
  src/pages/nutrition/unitSelect.jsx
Labels: Nutrition game

#142 Send annotations only 5s after the user answer
  .github/labeler.yml
  ignore_build.js
  package.json
  src/index.tsx
  src/pages/nutriscoreValidator/index.jsx
  src/pages/questions/ProductInformation.jsx
  src/pages/questions/QuestionDisplay.jsx
  src/pages/questions/UserData.tsx
  src/pages/questions/index.jsx
  src/pages/questions/useQuestionBuffer.ts
  src/robotoff.ts
  tsconfig.json
  tslint.json
  webpack.config.js
  yarn.lock
Labels: question game
