Repository openfoodfacts/hunger-games, pull requests merged in 2023-07, with the labels that each got.

#656 feat: Add lazy import for different routes
  src/App.js
  src/components/Opportunities.tsx
  src/pages/eco-score/index.jsx
  src/pages/flaggedImages/index.jsx
  src/pages/home/index.jsx
  src/pages/insights/index.jsx
  src/pages/logos/LogoAnnotation.jsx
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/LogoUpdate.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
  src/pages/logosValidator/DashBoard.tsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/not-found/index.jsx
  src/pages/nutrition/index.jsx
  src/pages/packaging/index.tsx
  src/pages/questions/index.jsx
  src/pages/settings/index.jsx
  src/pages/shouldLoggedinPage/index.js
Labels: Nutrition game, Logo game, Eco-Score game, questions game, insights

#674 aligned loader center while loading pages
  src/App.jsx
  src/components/Opportunities.tsx
  src/pages/eco-score/index.jsx
  src/pages/home/index.jsx
  src/pages/insights/index.jsx
  src/pages/loader/index.jsx
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/LogoUpdate.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/packaging/index.tsx
  src/pages/questions/QuestionDisplay.jsx
  src/pages/questions/index.jsx
  src/pages/settings/index.jsx
Labels: Logo game, Eco-Score game, questions game, insights

#666 Fix GitHub pages deploy
  .github/workflows/deploy.yml
  deploy.sh
Labels: github_actions

#683 fix: add permissions to GH_TOKEN for Pages deployment
  .github/workflows/deploy.yml
Labels: github_actions

#684 fix: Do not select logos with a value
  src/pages/logos/LogoAnnotation.jsx
  src/pages/logos/LogoDeepSearch.jsx
Labels: Logo game

#685 chore: convert pages to TypeScript
  package.json
  src/const.ts
  src/contexts/colorMode.tsx
  src/contexts/devMode.tsx
  src/contexts/login.tsx
  src/i18n.ts
  src/pages/eco-score/index.tsx
  src/pages/flaggedImages/index.tsx
  src/pages/logos/LogoUpdate.jsx
  src/reportWebVitals.js
  src/reportWebVitals.ts
  yarn.lock
Labels: Eco-Score game

#687 ci: remove cron for Crowdin
  .github/workflows/crowdin.yml
Labels: github_actions

#689 ci: avoid running same workflow multiple times on the same PR at the …
  .github/workflows/auto-assign-pr.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions
