Repository openfoodfacts/hunger-games, pull requests merged in 2023-08, with the labels that each got.

#708 few bug fixes
  .github/workflows/deploy.yml
  package.json
  src/components/QuestionFilter/useFilterSearch.js
  src/components/welcome/Welcome.jsx
  src/pages/loader/index.jsx
  yarn.lock
Labels: github_actions

#710 fix question fetching
  src/components/welcome/Welcome.jsx
  src/pages/packaging/useBuffer.ts
  src/pages/questions/QuestionFilter.jsx
  src/pages/questions/store.js
Labels: questions game

#715 fix: update OFF_IMAGE_URL
  src/const.ts
  src/pages/questions/utils.ts
Labels: questions game

#705 New Crowdin updates
  src/i18n/ach.json
  src/i18n/ar.json
  src/i18n/bg.json
  src/i18n/ca.json
  src/i18n/cs.json
  src/i18n/da.json
  src/i18n/de.json
  src/i18n/es.json
  src/i18n/fi.json
  src/i18n/fr.json
  src/i18n/he.json
  src/i18n/id.json
  src/i18n/it.json
  src/i18n/ja.json
  src/i18n/nb.json
  src/i18n/nl.json
  src/i18n/pl.json
  src/i18n/pt.json
  src/i18n/ro.json
  src/i18n/ru.json
  src/i18n/sr.json
  src/i18n/sv.json
  src/i18n/th.json
  src/i18n/tr.json
  src/i18n/uk.json
Labels: i18n

#713 feat: Allow to remove some logos from deep search
  src/pages/logos/LogoDeepSearch.jsx
Labels: Logo game
