Repository openfoodfacts/hunger-games, pull requests merged in 2023-01, with the labels that each got.

#444 Feat: Introduce dashboard page
  src/App.js
  src/components/ResponsiveAppBar.jsx
  src/components/welcome/Welcome.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/index.js
  src/pages/logosValidator/DashBoard.tsx
  src/pages/logosValidator/DashboardCard.tsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/logosValidator/dashboardDefinition.ts
  src/pages/logosValidator/index.jsx
  src/pages/settings/index.jsx
Labels: Logo game, Eco-Score game, i18n

#466 Feat: Small logo improvements
  src/components/LogoForm.jsx
  src/components/LogoSearchForm.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/LogoSearch.jsx
  src/robotoff.ts
Labels: Logo game, i18n

#412 ci: use actions/setup-node when deploying
  .github/workflows/deploy.yml
Labels: github_actions

#467 Feat: For all logo game, move annotation step in a popup
  src/components/AnnotateLogoModal.tsx
  src/components/QuestionFilter/LabelFilter.tsx
  src/pages/logos/LogoAnnotation.jsx
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
Labels: github_actions, Logo game, Eco-Score game, questions game, i18n

#470 new logo UX
  src/components/AnnotateLogoModal.tsx
  src/components/QuestionFilter/LabelFilter.tsx
  src/pages/logos/LogoAnnotation.jsx
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
Labels: Logo game

#473 Allows to use shift+click in first logos game and fix label input
  src/components/QuestionFilter/LabelFilter.tsx
  src/pages/logos/LogoAnnotation.jsx
Labels: Logo game

#476 Fix: Autocomplete behavior
  src/components/QuestionFilter/LabelFilter.tsx
Labels: autosuggest

#498 feat: add loading animation before question display
  src/i18n/common.json
  src/i18n/en.json
  src/pages/questions/QuestionDisplay.jsx
Labels: questions game, i18n
