Repository openfoodfacts/hunger-games, pull requests merged in 2023-06, with the labels that each got.

#614 Allow the crowdin workflow to be run on-demand
  .github/workflows/crowdin.yml
Labels: github_actions

#638 fix: infinit loading state
  src/pages/flaggedImages/index.jsx
  src/pages/questions/index.jsx
  src/pages/questions/store.js
Labels: questions game

#640 fix: Fix a few typos in common.json that were fixed in en.json
  src/i18n/common.json
Labels: i18n
