Repository openfoodfacts/hunger-games, pull requests merged in 2023-02, with the labels that each got.

#522 fix: capitalise country name.
  src/components/QuestionFilter/QuestionFilter.jsx
  src/pages/eco-score/index.jsx
  src/pages/questions/ProductInformation.jsx
  src/utils.js
Labels: Eco-Score game, questions game

#530 fix: select all in logo game
  src/pages/logos/LogoAnnotation.jsx
Labels: Logo game

#540 Add synonyms to `useUrlParams`
  src/components/QuestionFilter/useFilterSearch.js
  src/hooks/useUrlParams.js
  src/pages/insights/index.jsx
  src/pages/logos/LogoAnnotation.jsx
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/LogoSearch.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/packaging/index.tsx
Labels: Logo game, insights

#541 Redirect logos games to other ones
  src/components/LogoSearchForm.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/logos/LogoDeepSearch.jsx
  src/pages/logos/ProductLogoAnnotations.jsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
Labels: Logo game, i18n

#543 Fix: stop loading state in case of error in data fetching
  src/pages/logos/LogoDeepSearch.jsx
Labels: Logo game

#539 feat: add links related to open food facts in settings route.
  src/components/Footer/DiscoverTheProject.jsx
  src/components/Footer/Donate.jsx
  src/components/Footer/DownloadOpenFoodFacts.jsx
  src/components/Footer/FooterButtons.jsx
  src/components/Footer/JoinTheCommunity.jsx
  src/components/Footer/OpenFoodFacts.jsx
  src/components/Footer/index.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/home/index.jsx
  src/pages/settings/index.jsx
Labels: i18n

#544 fix: wording fixes
  src/i18n/common.json
Labels: i18n

#481 Moving to Redux for management of the question buffer
  package.json
  src/components/QuestionFilter/index.js
  src/components/ResponsiveAppBar.jsx
  src/pages/logosValidator/LogoQuestionValidator.jsx
  src/pages/questions/QuestionDisplay.jsx
  src/pages/questions/QuestionFilter.jsx
  src/pages/questions/UserData.tsx
  src/pages/questions/index.jsx
  src/pages/questions/store.js
  src/pages/questions/useQuestionBuffer.ts
  src/pages/questions/utils.ts
  src/robotoff.ts
  yarn.lock
Labels: questions game

#552 Fix: Send answers to robotoff
  src/pages/questions/store.js
Labels: questions game
