Repository openfoodfacts/hunger-games, pull requests merged in 2024-02, with the labels that each got.

#880 Move question filter to TS and store filter state directly in th url
  src/components/QuestionFilter/useFavorite.ts
  src/hooks/useUrlParams.js
  src/pages/questions/QuestionFilter.tsx
  src/pages/questions/useFilterSearch.tsx
Labels: questions game, TypeScript

#885 feat: deeplinking in eco-score page by country
  src/pages/eco-score/index.tsx
Labels: eco-score game

#884 refine the user interface for ingredients
  crowdin.yml
  src/i18n/common.json
  src/i18n/en.json
  src/pages/ingredients/ImageAnnotation.tsx
  src/pages/ingredients/IngeredientDisplay.tsx
  src/pages/ingredients/index.tsx
Labels: i18n

#892 feat: add country list in settings page, using it as default country in eco-score
  src/localeStorageManager.ts
  src/pages/eco-score/index.tsx
  src/pages/settings/index.jsx
Labels: eco-score game
