Repository openfoodfacts/hunger-games, pull requests merged in 2024-12, with the labels that each got.

#1085 Restart nutrition
  .github/workflows/github-projects-pr.yml
  .github/workflows/github-projects.yml
  CHANGELOG.md
  src/pages/nutrition/config.ts
  src/pages/nutrition/index.jsx
  src/pages/nutrition/index.tsx
  src/pages/nutrition/insight.types.ts
  src/pages/nutrition/nutritionFields.js
  src/pages/nutrition/productCard.jsx
  src/pages/nutrition/table.jsx
  src/pages/nutrition/tableRow.jsx
  src/pages/nutrition/useRobotoffPredicitions.ts
  src/pages/nutrition/utils.ts
  src/robotoff.ts
Labels: GitHub Actions, Nutrition game

#1086 Restart nutrition
  src/pages/nutrition/index.tsx
  src/pages/nutrition/utils.ts
Labels: GitHub Actions, Nutrition game

#1087 Fix request to robotoff
  src/pages/nutrition/utils.ts
Labels: Nutrition game

#1095 Global county filter
  src/App.jsx
  src/assets/countries.json
  src/components/Opportunities.tsx
  src/components/ResponsiveAppBar.jsx
  src/contexts/CountryProvider/CountryContext.tsx
  src/contexts/CountryProvider/CountryProvider.tsx
  src/contexts/CountryProvider/index.ts
  src/localeStorageManager.ts
  src/pages/eco-score/index.tsx
  src/pages/nutrition/LinksToProduct.tsx
  src/pages/nutrition/PictureSection.tsx
  src/pages/nutrition/index.tsx
  src/pages/nutrition/useRobotoffPredictions.ts
  src/pages/settings/index.jsx
  src/robotoff.ts
  src/utils/useLocalStorageState.ts
  update-countries.js
Labels: Nutrition game, 🌱 Eco-Score game

#1094 feat: Allow to add nutriments
  src/pages/nutrition/PictureSection.tsx
  src/pages/nutrition/config.ts
  src/pages/nutrition/index.tsx
  src/pages/nutrition/utils.ts
Labels: Nutrition game

#1097 set width to 150 for big screens
  src/pages/questions/QuestionFilter.tsx
Labels: questions game

#1100 fix: make world an empty country code
  src/assets/countries.json
  src/components/ResponsiveAppBar.jsx
  src/contexts/CountryProvider/CountryProvider.tsx
  src/pages/nutrition/NutrimentCell.tsx
  src/pages/nutrition/index.tsx
  update-countries.js
Labels: Nutrition game

#1099 Refine nutri game: limit nutriments to known list and add color
  src/pages/nutrition/Instructions.tsx
  src/pages/nutrition/NutrimentCell.tsx
  src/pages/nutrition/config.ts
  src/pages/nutrition/index.tsx
  src/pages/nutrition/utils.ts
Labels: Nutrition game

#1101 Show if image is selected as a nutriment image
  src/pages/nutrition/PictureSection.tsx
Labels: Nutrition game

#1107 use OFF info about nutriment game
  package.json
  src/assets/countries.json
  src/assets/languages.json
  src/assets/nutriments.json
  src/pages/nutrition/NutrimentCell.tsx
  src/pages/nutrition/PictureSection.tsx
  src/pages/nutrition/index.tsx
  src/pages/nutrition/useNutrimentTranslations.ts
  src/pages/nutrition/utils.ts
  update-countries.js
  update-nutriments.js
Labels: Nutrition game

#1111 Make nutrition table visible in the menu
  src/components/ResponsiveAppBar.jsx
  src/i18n/common.json
  src/i18n/en.json
  src/pages/nutrition/Instructions.tsx
  src/pages/nutrition/LinksToProduct.tsx
  src/pages/nutrition/PictureSection.tsx
  src/pages/nutrition/index.tsx
Labels: Nutrition game, i18n

#1112 fix: Clean nutriments generation
  src/assets/nutriments.json
  src/pages/nutrition/config.ts
  update-nutriments.js
Labels: Nutrition game
